<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


<!--    <bean id="connection" class="java.sql.DriverManager" factory-method="getConnection">-->
<!--        <constructor-arg name="url" value="jdbc:mysql://localhost:3306/mybatis"/>-->
<!--        <constructor-arg name="user" value="root"/>-->
<!--        <constructor-arg name="password" value="123456"/>-->
<!--    </bean>-->

<!--    <bean class="org.example.factory.MyBeanDefinitionRegistryPostProcessor"></bean>-->

<!--    <bean class="org.example.factory.MyComponentBeanDefinition"></bean>-->

<!--    <bean class="org.example.factory.MyBeanPostProcessor"></bean>-->
<!--    <bean id="userService" class="org.example.UserServiceImpl" init-method="init">-->
<!--        <property name="name" value="HELLO"></property>-->
<!--    </bean>-->


<!--&lt;!&ndash;与Mybatis框架的整合&ndash;&gt;-->
<!--&lt;!&ndash;    1.sqlsessionfactory  用于替代mybatis-config.xml&ndash;&gt;-->
<!--    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>-->
<!--        <property name="username" value="root"/>-->
<!--        <property name="password" value="123456"/>-->
<!--        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; 配置SqlSessionFactoryBean,作用将SqlSessionFactory存储到spring容器 &ndash;&gt;-->
<!--    <bean class="org.mybatis.spring.SqlSessionFactoryBean">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->

<!--&lt;!&ndash;    2.MapperScannerConfigurer&ndash;&gt;-->
<!--    &lt;!&ndash; MapperScannerConfigurer,作用扫描指定的包，产生Mapper.对象存储到Spring容器 &ndash;&gt;-->
<!--    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
<!--        <property name="basePackage" value="org.example.mapper"/>-->
<!--    </bean>-->
<!--    &lt;!&ndash;  userMapper的bean由MapperScannerConfigurer生成   &ndash;&gt;-->
<!--    <bean id="userService" class="org.example.UserServiceImpl">-->
<!--        <property name="userMapper" ref="userMapper"/>-->
<!--    </bean>-->


<!--    扫描注解-->
    <context:component-scan base-package="org.example"/>





</beans>